body {
    background-color:#B3D2B2;
}
h1, h2 {
    text-align:center;
    background-color:#BDE4A7
}
p {
    text-align:center;
}
.pandas {
    color:#109648;
}
#favthings {
    background-color:#BDE4A7;
}

img {
    margin:20px;
}
